[submodule "modules/Vulkan"]
	path = modules/Vulkan
	url = https://github.com/tonadr1022/vulkan-jai-binding.git
[submodule "modules/SDL"]
	path = modules/SDL
	url = git@github.com:tonadr1022/jai-sdl3.git
